<div class="container">
  <div class="starter-template">
    <h1>Art's Restaurant Management App</h1>
    <p class="lead">Smart restaurant waiting list.</p>
    <button type="button" class="btn btn-primary btn-lg">Get started now!</button>
    <div class="row">
      <div class="col-sm-4">
        <h2>Ditch the clipboard</h2>
        <p>Use our simple app to manage you waiting list from your PC, tablet or phone.</p>
      </div>
      <div class="col-sm-4">
        <h2>Get your voice back</h2>
        <p>No need to yell every five minutes. You can text a party</p>
      </div>
      <div class="col-sm-4">
        <h2>Customers will love you</h2>
        <p>They can go to other places</p>
      </div>
    </div>
  </div>
</div><!--container-->